In [1]:
import sqlite3
import pandas as pd
import autog_student as ag

import json
from collections import defaultdict as dd

In [2]:
conn = sqlite3.connect('databases/nyc_health.db')
curs = conn.cursor()

In [3]:
# File name for your submission
# Just use the assignment name/number.  Blackboard will add your user name when I download them.
# Don't include underscores! It will mess up the pattern Blackboard uses to name files, and I won't know who you are.
file_name = 'Midterm.DATA302'
#Checkpoint2
# Name of the database - must be one directory up in the 'databases' folder
db_name = 'nyc_health.db'

# Do not change these:
PATH_SUB = 'submissions/' + file_name
PATH_DB  = 'databases/' + db_name

# Dictionary to store your submission
my_sql = {}

conn = sqlite3.connect(PATH_DB)
curs = conn.cursor()
pd.read_sql("SELECT * FROM sqlite_master;", conn)

,type,name,tbl_name,rootpage,sql
0,table,tRest,tRest,2,CREATE TABLE tRest (\n camis INTEGER PRIMAR...
1,table,tViol,tViol,3,CREATE TABLE tViol (\n viol_id TEXT PRIMARY...
2,index,sqlite_autoindex_tViol_1,tViol,4,None
3,table,tAction,tAction,5,CREATE TABLE tAction (\n action_id INTEGER ...
4,table,tInsp,tInsp,6,CREATE TABLE tInsp (\n camis INTEGER NOT NU...
5,index,sqlite_autoindex_tInsp_1,tInsp,7,None

In [4]:

sql = """
SELECT camis, dba, viol_id, viol_desc, count(viol_id) as NumViol
FROM tRest
JOIN tInsp USING(camis)
JOIN tViol USING(viol_id)
WHERE (viol_desc LIKE '%vermin%' or viol_desc LIKE '%mice%' or viol_desc LIKE '%roach%' or viol_desc LIKE '%rats%')
GROUP BY viol_id
ORDER BY NumViol DESC
;"""

my_sql['sql1'] = {}
my_sql['sql1']['sql'] = sql

sql2 = """
WITH 
TopViol as 
(
    SELECT cuisine, max(NumViol) as MaxViol, viol_id
    FROM (
        SELECT cuisine, viol_id, count(viol_id) as NumViol
        FROM tRest
        JOIN tInsp USING(camis)
        GROUP BY cuisine, viol_id
        )
    GROUP BY cuisine
)

SELECT cuisine, viol_id, viol_desc, MaxViol
FROM TopViol
JOIN tViol USING(viol_id)
ORDER BY cuisine ASC
;"""

my_sql['sql2'] = {}
my_sql['sql2']["sql"] = sql2

sql3 = """
SELECT action_desc, viol_desc, count(viol_id) as NumViol
FROM tInsp
JOIN tViol USING(viol_id)
JOIN tAction USING(action_id)
WHERE action_desc like '%closed%'
GROUP BY viol_id
ORDER BY NumViol DESC
LIMIT 5
;"""

my_sql['sql3'] = {}
my_sql['sql3']["sql"] = sql3

sql4 = """
WITH
MostClosed as
(
    SELECT camis, count(action_id) as NumAct
    FROM tInsp
    JOIN tAction USING(action_id)
    WHERE action_desc like '%closed%'
    GROUP BY camis
    ORDER BY NumAct DESC
    LIMIT 1
    
)

SELECT camis, dba, viol_desc, count(viol_id) as NumViol
FROM tRest
JOIN tInsp USING(camis)
JOIN tViol USING(viol_id)
WHERE camis = (SELECT camis FROM MostClosed)
GROUP BY viol_id
ORDER BY NumViol DESC
;"""

my_sql['sql4'] = {}
my_sql['sql4']["sql"] = sql4

sql5 = """
SELECT dba, count(DISTINCT camis) as NumLoc, count(viol_id) as NumViol, 1.*count(viol_id)/count(DISTINCT camis) as AvgViol 
FROM tRest
JOIN tInsp USING(camis)
JOIN tViol USING(viol_id)
GROUP BY dba
ORDER BY NumLoc DESC
;"""

my_sql['sql5'] = {}
my_sql['sql5']["sql"] = sql5

sql6 = """
WITH 
TotalCamis as 
(
    SELECT camis, dba, count(viol_id) as NumViol
    FROM tRest
    JOIN tInsp USING(camis)
    JOIN tAction USING(action_id)
    WHERE action_desc LIKE '%cited%' 
    GROUP BY dba
    HAVING NumViol > 1
)

SELECT camis, dba, viol_id, viol_desc, count(viol_id) as NumViol
FROM tRest
JOIN tInsp USING(camis)
JOIN tViol USING(viol_id)
JOIN tAction USING(action_id)
WHERE camis in (SELECT camis FROM TotalCamis)
GROUP BY viol_id
HAVING NumViol > 10
ORDER BY dba ASC
;"""

my_sql['sql6'] = {}
my_sql['sql6']["sql"] = sql6

sql7 = """
WITH 
SingleCami as 
(
    SELECT dba, count(DISTINCT camis) as DistCamis, count(viol_id) as NumViol
    FROM tRest
    JOIN tInsp USING(camis)
    JOIN tAction USING(action_id)
    WHERE action_desc LIKE '%cited%' 
    GROUP BY dba
    HAVING DistCamis = 1 AND NumViol > 10
),

TopViol as 
(
    SELECT dba, camis, max(NumViol) as MaxViol, viol_id
    FROM (
        SELECT camis, dba, viol_id, count(viol_id) as NumViol
        FROM tRest
        JOIN tInsp USING(camis)
        GROUP BY dba, viol_id
        )
    GROUP BY dba
)

SELECT camis, dba, viol_desc, MaxViol
FROM TopViol
JOIN tViol USING(viol_id)
JOIN SingleCami USING(dba)
ORDER BY MaxViol DESC
;"""

my_sql['sql7'] = {}
my_sql['sql7']["sql"] = sql7

sql8 = """
WITH
AllCombs as
(
    SELECT action_id, viol_id
    FROM tViol
    JOIN tAction
),
HasOccurred as
(
    SELECT action_id, viol_id, count(*) as NumViol
    FROM tInsp
    GROUP BY viol_id, action_id
)

SELECT count(*) as Total
FROM AllCombs
LEFT JOIN HasOccurred USING(action_id, viol_id)
WHERE NumViol IS NULL
;"""

my_sql['sql8'] = {}
my_sql['sql8']["sql"] = sql8

sql9 = """
WITH
AllCombs as
(
    SELECT action_id, viol_id
    FROM tViol
    JOIN tAction
),
HasOccurred as
(
    SELECT action_id, viol_id, count(*) as NumViol
    FROM tInsp
    GROUP BY viol_id, action_id
)

SELECT action_desc, viol_desc
FROM AllCombs
LEFT JOIN HasOccurred USING(action_id, viol_id)
JOIN tViol USING(viol_id)
JOIN tAction USING(action_id)
WHERE NumViol IS NULL
ORDER BY viol_desc ASC
;"""

my_sql['sql9'] = {}
my_sql['sql9']["sql"] = sql9

sql10 = """
WITH 
ViolCamis as 
(
    SELECT dba, count(viol_id) as NumViol
    FROM tRest
    JOIN tInsp USING(camis)
    JOIN tAction USING(action_id)
    WHERE action_desc LIKE '%cited%' 
    GROUP BY camis
    HAVING NumViol > 89
),

TopViol as 
(
    SELECT dba, camis, max(NumViol) as MaxViol, viol_id
    FROM (
        SELECT camis, dba, viol_id, count(viol_id) as NumViol
        FROM tRest
        JOIN tInsp USING(camis)
        GROUP BY dba, viol_id
        )
    GROUP BY dba
)

SELECT camis, dba, viol_id, viol_desc, MaxViol
FROM TopViol
JOIN tViol USING(viol_id)
JOIN ViolCamis USING(dba)
ORDER BY dba ASC
;"""

my_sql['sql10'] = {}
my_sql['sql10']["sql"] = sql10

my_sql

{'sql1': {'sql': "\nSELECT camis, dba, viol_id, viol_desc, count(viol_id) as NumViol\nFROM tRest\nJOIN tInsp USING(camis)\nJOIN tViol USING(viol_id)\nWHERE (viol_desc LIKE '%vermin%' or viol_desc LIKE '%mice%' or viol_desc LIKE '%roach%' or viol_desc LIKE '%rats%')\nGROUP BY viol_id\nORDER BY NumViol DESC\n;"},
 'sql2': {'sql': '\nWITH \nTopViol as \n(\n    SELECT cuisine, max(NumViol) as MaxViol, viol_id\n    FROM (\n        SELECT cuisine, viol_id, count(viol_id) as NumViol\n        FROM tRest\n        JOIN tInsp USING(camis)\n        GROUP BY cuisine, viol_id\n        )\n    GROUP BY cuisine\n)\n\nSELECT cuisine, viol_id, viol_desc, MaxViol\nFROM TopViol\nJOIN tViol USING(viol_id)\nORDER BY cuisine ASC\n;'},
 'sql3': {'sql': "\nSELECT action_desc, viol_desc, count(viol_id) as NumViol\nFROM tInsp\nJOIN tViol USING(viol_id)\nJOIN tAction USING(action_id)\nWHERE action_desc like '%closed%'\nGROUP BY viol_id\nORDER BY NumViol DESC\nLIMIT 5\n;"},
 'sql4': {'sql': "\nWITH\nMostClosed as\n(\n    SELECT camis, count(action_id) as NumAct\n    FROM tInsp\n    JOIN tAction USING(action_id)\n    WHERE action_desc like '%closed%'\n    GROUP BY camis\n    ORDER BY NumAct DESC\n    LIMIT 1\n    \n)\n\nSELECT camis, dba, viol_desc, count(viol_id) as NumViol\nFROM tRest\nJOIN tInsp USING(camis)\nJOIN tViol USING(viol_id)\nWHERE camis = (SELECT camis FROM MostClosed)\nGROUP BY viol_id\nORDER BY NumViol DESC\n;"},
 'sql5': {'sql': '\nSELECT dba, count(DISTINCT camis) as NumLoc, count(viol_id) as NumViol, 1.*count(viol_id)/count(DISTINCT camis) as AvgViol \nFROM tRest\nJOIN tInsp USING(camis)\nJOIN tViol USING(viol_id)\nGROUP BY dba\nORDER BY NumLoc DESC\n;'},
 'sql6': {'sql': "\nWITH \nTotalCamis as \n(\n    SELECT camis, dba, count(viol_id) as NumViol\n    FROM tRest\n    JOIN tInsp USING(camis)\n    JOIN tAction USING(action_id)\n    WHERE action_desc LIKE '%cited%' \n    GROUP BY dba\n    HAVING NumViol > 1\n)\n\nSELECT camis, dba, viol_id, viol_desc, count(viol_id) as NumViol\nFROM tRest\nJOIN tInsp USING(camis)\nJOIN tViol USING(viol_id)\nJOIN tAction USING(action_id)\nWHERE camis in (SELECT camis FROM TotalCamis)\nGROUP BY viol_id\nHAVING NumViol > 10\nORDER BY dba ASC\n;"},
 'sql7': {'sql': "\nWITH \nSingleCami as \n(\n    SELECT dba, count(DISTINCT camis) as DistCamis, count(viol_id) as NumViol\n    FROM tRest\n    JOIN tInsp USING(camis)\n    JOIN tAction USING(action_id)\n    WHERE action_desc LIKE '%cited%' \n    GROUP BY dba\n    HAVING DistCamis = 1 AND NumViol > 10\n),\n\nTopViol as \n(\n    SELECT dba, camis, max(NumViol) as MaxViol, viol_id\n    FROM (\n        SELECT camis, dba, viol_id, count(viol_id) as NumViol\n        FROM tRest\n        JOIN tInsp USING(camis)\n        GROUP BY dba, viol_id\n        )\n    GROUP BY dba\n)\n\nSELECT camis, dba, viol_desc, MaxViol\nFROM TopViol\nJOIN tViol USING(viol_id)\nJOIN SingleCami USING(dba)\nORDER BY MaxViol DESC\n;"},
 'sql8': {'sql': '\nWITH\nAllCombs as\n(\n    SELECT action_id, viol_id\n    FROM tViol\n    JOIN tAction\n),\nHasOccurred as\n(\n    SELECT action_id, viol_id, count(*) as NumViol\n    FROM tInsp\n    GROUP BY viol_id, action_id\n)\n\nSELECT count(*) as Total\nFROM AllCombs\nLEFT JOIN HasOccurred USING(action_id, viol_id)\nWHERE NumViol IS NULL\n;'},
 'sql9': {'sql': '\nWITH\nAllCombs as\n(\n    SELECT action_id, viol_id\n    FROM tViol\n    JOIN tAction\n),\nHasOccurred as\n(\n    SELECT action_id, viol_id, count(*) as NumViol\n    FROM tInsp\n    GROUP BY viol_id, action_id\n)\n\nSELECT action_desc, viol_desc\nFROM AllCombs\nLEFT JOIN HasOccurred USING(action_id, viol_id)\nJOIN tViol USING(viol_id)\nJOIN tAction USING(action_id)\nWHERE NumViol IS NULL\nORDER BY viol_desc ASC\n;'},
 'sql10': {'sql': "\nWITH \nViolCamis as \n(\n    SELECT dba, count(viol_id) as NumViol\n    FROM tRest\n    JOIN tInsp USING(camis)\n    JOIN tAction USING(action_id)\n    WHERE action_desc LIKE '%cited%' \n    GROUP BY camis\n    HAVING NumViol > 89\n),\n\nTopViol as \n(\n    SELECT dba, camis, max(NumViol) as MaxViol, viol_id\n    FROM (\n        SELECT camis, dba, viol_id, count(viol_id) as NumViol\n        FROM tRest\n        JOIN tInsp USING(camis)\n        GROUP BY dba, viol_id\n        )\n    GROUP BY dba\n)\n\nSELECT camis, dba, viol_id, viol_desc, MaxViol\nFROM TopViol\nJOIN tViol USING(viol_id)\nJOIN ViolCamis USING(dba)\nORDER BY dba ASC\n;"}}

In [5]:
with open('Midterm.DATA302', 'w') as f:
    json.dump(my_sql, f)

In [6]:
with open(PATH_SUB, 'w') as f:
    json.dump(my_sql, f)

In [7]:
s = ag.Student('Midterm.DATA302', db_name)

In [8]:
s.CheckMySubmission()

Output saved to: output/me_2023-03-24-16-03-00-817131.DATA3024u

===== RUNNING SETUP QUERIES =====

Note that the student version will run all action queries, however

some actions are disallowed during grading. See the documentation for more info.





===== DONE WITH SETUP QUERIES =====







-------------Submission for sql1 found-------------



SELECT camis, dba, viol_id, viol_desc, count(viol_id) as NumViol

FROM tRest

JOIN tInsp USING(camis)

JOIN tViol USING(viol_id)

WHERE (viol_desc LIKE '%vermin%' or viol_desc LIKE '%mice%' or viol_desc LIKE '%roach%' or viol_desc LIKE '%rats%')

GROUP BY viol_id

ORDER BY NumViol DESC

;



	Parameters: None

	Query executed w/o error: True



Output:



   camis              dba viol_id            viol_desc  NumViol

41374557    M NOODLE SHOP     08A Facility not vermin     39982

50003451        CHINA AAA     04L Evidence of mice or     27774

41516263       NO QUARTER     04M Live roaches present     9012

50058069 HENRI'S BACKYARD     04K Evidence of rats or      2559





-------------Submission for sql2 found-------------



WITH

TopViol as

(

    SELECT cuisine, max(NumViol) as MaxViol, viol_id

    FROM (

        SELECT cuisine, viol_id, count(viol_id) as NumViol

        FROM tRest

        JOIN tInsp USING(camis)

        GROUP BY cuisine, viol_id

        )

    GROUP BY cuisine

)



SELECT cuisine, viol_id, viol_desc, MaxViol

FROM TopViol

JOIN tViol USING(viol_id)

ORDER BY cuisine ASC

;



	Parameters: None

	Query executed w/o error: True

	NOTE: The output below was truncated to save space in this file



Output(head(5)):



 cuisine viol_id            viol_desc  MaxViol

  Afghan     10F Non-food contact sur       36

 African     08A Facility not vermin       189

American     10F Non-food contact sur    13176

Armenian     10F Non-food contact sur       68

   Asian     10F Non-food contact sur      741





Output(tail(5)):



             cuisine viol_id            viol_desc  MaxViol

             Tex-Mex     10F Non-food contact sur      334

                Thai     10F Non-food contact sur      648

             Turkish     10F Non-food contact sur      162

          Vegetarian     10F Non-food contact sur      218

Vietnamese/Cambodian     10F Non-food contact sur      198





-------------Submission for sql3 found-------------



SELECT action_desc, viol_desc, count(viol_id) as NumViol

FROM tInsp

JOIN tViol USING(viol_id)

JOIN tAction USING(action_id)

WHERE action_desc like '%closed%'

GROUP BY viol_id

ORDER BY NumViol DESC

LIMIT 5

;



	Parameters: None

	Query executed w/o error: True



Output:



         action_desc            viol_desc  NumViol

Establishment Closed Facility not vermin      1656

Establishment Closed Evidence of mice or      1148

Establishment Closed Live roaches present      715

Establishment Closed Cold food item held       691

Establishment Closed Non-food contact sur      640





-------------Submission for sql4 found-------------



WITH

MostClosed as

(

    SELECT camis, count(action_id) as NumAct

    FROM tInsp

    JOIN tAction USING(action_id)

    WHERE action_desc like '%closed%'

    GROUP BY camis

    ORDER BY NumAct DESC

    LIMIT 1



)



SELECT camis, dba, viol_desc, count(viol_id) as NumViol

FROM tRest

JOIN tInsp USING(camis)

JOIN tViol USING(viol_id)

WHERE camis = (SELECT camis FROM MostClosed)

GROUP BY viol_id

ORDER BY NumViol DESC

;



	Parameters: None

	Query executed w/o error: True

	NOTE: The output below was truncated to save space in this file



Output(head(5)):



   camis                  dba            viol_desc  NumViol

40922818 EL TAPATIO MEXICAN R Non-food contact sur        8

40922818 EL TAPATIO MEXICAN R Facility not vermin         7

40922818 EL TAPATIO MEXICAN R Live roaches present        7

40922818 EL TAPATIO MEXICAN R Plumbing not properl        5

40922818 EL TAPATIO MEXICAN R Evidence of rats or         5





Output(tail(5)):



   camis                  dba            viol_desc  NumViol

40922818 EL TAPATIO MEXICAN R Tobacco use, eating,        1

40922818 EL TAPATIO MEXICAN R Insufficient or no r        1

40922818 EL TAPATIO MEXICAN R Shellfish not from a        1

40922818 EL TAPATIO MEXICAN R Food from unapproved        1

40922818 EL TAPATIO MEXICAN R Food not cooled by a        1





-------------Submission for sql5 found-------------



SELECT dba, count(DISTINCT camis) as NumLoc, count(viol_id) as NumViol, 1.*count(viol_id)/count(DISTINCT camis) as AvgViol

FROM tRest

JOIN tInsp USING(camis)

JOIN tViol USING(viol_id)

GROUP BY dba

ORDER BY NumLoc DESC

;



	Parameters: None

	Query executed w/o error: True

	NOTE: The output below was truncated to save space in this file



Output(head(5)):



                 dba  NumLoc  NumViol   AvgViol

      DUNKIN' DONUTS     410     4247 10.358537

              SUBWAY     352     3729 10.593750

           STARBUCKS     281     2130  7.580071

          MCDONALD'S     206     2778 13.485437

DUNKIN' DONUTS, BASK     110     1462 13.290909





Output(tail(5)):



                 dba  NumLoc  NumViol  AvgViol

            $1 PIZZA       1        8      8.0

#1 SABOR LATINO REST       1       55     55.0

#1 Natural Juice Bar       1        6      6.0

   #1 GARDEN CHINESE       1       27     27.0

#1 Chinese Restauran       1        3      3.0





-------------Submission for sql6 found-------------



WITH

TotalCamis as

(

    SELECT camis, dba, count(viol_id) as NumViol

    FROM tRest

    JOIN tInsp USING(camis)

    JOIN tAction USING(action_id)

    WHERE action_desc LIKE '%cited%'

    GROUP BY dba

    HAVING NumViol > 1

)



SELECT camis, dba, viol_id, viol_desc, count(viol_id) as NumViol

FROM tRest

JOIN tInsp USING(camis)

JOIN tViol USING(viol_id)

JOIN tAction USING(action_id)

WHERE camis in (SELECT camis FROM TotalCamis)

GROUP BY viol_id

HAVING NumViol > 10

ORDER BY dba ASC

;



	Parameters: None

	Query executed w/o error: True

	NOTE: The output below was truncated to save space in this file



Output(head(5)):



   camis                  dba viol_id            viol_desc  NumViol

40401104             1020 BAR     07A Duties of an officer       29

40367544                AMOUN     15S Flavored tobacco pro      119

40515597          ANYWAY CAFE     18D Failure to comply wi       81

40363427        BAGELS N BUNS     05D Hand washing facilit     2909

40364529 BEN-BEST DELI & REST     05B Harmful, noxious gas       52





Output(tail(5)):



   camis                  dba viol_id            viol_desc  NumViol

40373462        VILLA BERULIA     03C Eggs found dirty/cra      105

40356483   WILKEN'S FINE FOOD     06B Tobacco use, eating,     2278

40601696  WOO CHON RESTAURANT     10G Food service operati       50

41553479        XO RESTAURANT     03E Potable water supply       13

40388818 YAMA JAPANESE RESTAU     05A Sewage disposal syst       55





-------------Submission for sql7 found-------------



WITH

SingleCami as

(

    SELECT dba, count(DISTINCT camis) as DistCamis, count(viol_id) as NumViol

    FROM tRest

    JOIN tInsp USING(camis)

    JOIN tAction USING(action_id)

    WHERE action_desc LIKE '%cited%'

    GROUP BY dba

    HAVING DistCamis = 1 AND NumViol > 10

),



TopViol as

(

    SELECT dba, camis, max(NumViol) as MaxViol, viol_id

    FROM (

        SELECT camis, dba, viol_id, count(viol_id) as NumViol

        FROM tRest

        JOIN tInsp USING(camis)

        GROUP BY dba, viol_id

        )

    GROUP BY dba

)



SELECT camis, dba, viol_desc, MaxViol

FROM TopViol

JOIN tViol USING(viol_id)

JOIN SingleCami USING(dba)

ORDER BY MaxViol DESC

;



	Parameters: None

	Query executed w/o error: True

	NOTE: The output below was truncated to save space in this file



Output(head(5)):



   camis                  dba            viol_desc  MaxViol

40861669 NEW VICTORY RESTAURA Facility not vermin        15

41430594    1 STOP PATTY SHOP Evidence of mice or        14

50033122 PARTY WELL REST & OR Facility not vermin        14

41309387     NEW TACO EXPRESS Evidence of mice or        13

41459659        T. K. KITCHEN Facility not vermin        13





Output(tail(5)):



   camis                  dba            viol_desc  MaxViol

50061140 TURNTABLE CHICKEN JA Hot food item not he        1

50001616    Tablao Restaurant Cold food item held         1

50057570                WANDO Hot food item not he        1

41386957 WORLD ICE CAFE AT FL Cold food item held         1

50033552                 YUZU Hot food item not he        1





-------------Submission for sql8 found-------------



WITH

AllCombs as

(

    SELECT action_id, viol_id

    FROM tViol

    JOIN tAction

),

HasOccurred as

(

    SELECT action_id, viol_id, count(*) as NumViol

    FROM tInsp

    GROUP BY viol_id, action_id

)



SELECT count(*) as Total

FROM AllCombs

LEFT JOIN HasOccurred USING(action_id, viol_id)

WHERE NumViol IS NULL

;



	Parameters: None

	Query executed w/o error: True



Output:



 Total

   221





-------------Submission for sql9 found-------------



WITH

AllCombs as

(

    SELECT action_id, viol_id

    FROM tViol

    JOIN tAction

),

HasOccurred as

(

    SELECT action_id, viol_id, count(*) as NumViol

    FROM tInsp

    GROUP BY viol_id, action_id

)



SELECT action_desc, viol_desc

FROM AllCombs

LEFT JOIN HasOccurred USING(action_id, viol_id)

JOIN tViol USING(viol_id)

JOIN tAction USING(action_id)

WHERE NumViol IS NULL

ORDER BY viol_desc ASC

;



	Parameters: None

	Query executed w/o error: True

	NOTE: The output below was truncated to save space in this file



Output(head(5)):



         action_desc            viol_desc

Establishment Closed ''''No Smoking and/

Establishment re-ope ''''No Smoking and/

Establishment re-clo ''''No Smoking and/

Establishment re-clo ''''Wash hands sign

No violations were r ''''Wash hands sign





Output(tail(5)):



         action_desc            viol_desc

Establishment re-ope Whole frozen poultry

Establishment re-clo Whole frozen poultry

No violations were r Whole frozen poultry

Establishment re-clo Wiping cloths soiled

No violations were r Wiping cloths soiled





-------------Submission for sql10 found-------------



WITH

ViolCamis as

(

    SELECT dba, count(viol_id) as NumViol

    FROM tRest

    JOIN tInsp USING(camis)

    JOIN tAction USING(action_id)

    WHERE action_desc LIKE '%cited%'

    GROUP BY camis

    HAVING NumViol > 89

),



TopViol as

(

    SELECT dba, camis, max(NumViol) as MaxViol, viol_id

    FROM (

        SELECT camis, dba, viol_id, count(viol_id) as NumViol

        FROM tRest

        JOIN tInsp USING(camis)

        GROUP BY dba, viol_id

        )

    GROUP BY dba

)



SELECT camis, dba, viol_id, viol_desc, MaxViol

FROM TopViol

JOIN tViol USING(viol_id)

JOIN ViolCamis USING(dba)

ORDER BY dba ASC

;



	Parameters: None

	Query executed w/o error: True



Output:



   camis                  dba viol_id            viol_desc  MaxViol

50001880        GANG SAN DEUL     02B Hot food item not he       10

41683816 MAX BAKERY & RESTAUR     04M Live roaches present       12



--------------------------



Checking for invalid keys... nothing found!

In [32]:
del s

In [34]:
conn.close()