In [3]:
import sqlite3
import pandas as pd
import autog_student as ag

import json
from collections import defaultdict as dd

In [4]:
conn = sqlite3.connect('../databases/test.db')
curs = conn.cursor()

In [5]:
nyc = pd.read_csv('nyc_rest_health_inspections.csv')

In [6]:
nyc.to_sql('test_table', 
            conn,
            index=False)

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ValueError: Table 'test_table' already exists.

In [ ]:
nyc.head(5)

In [ ]:
# Question 1

In [ ]:
pd.read_sql("""
SELECT [violation code], [violation description], count([violation code]) as NumViol
FROM test_table
GROUP BY [violation code]
ORDER BY NumViol DESC
LIMIT 1
;""", conn)

In [ ]:
# Question 2

In [ ]:
pd.read_sql("""
SELECT [cuisine description], count([violation code]) as NumViol
FROM test_table
GROUP BY [cuisine description]
HAVING NumViol > 10000
ORDER BY NumViol DESC
;""", conn)

In [ ]:
# Question 3

In [ ]:
sql1 = """
WITH
MaxBoroViolator as 
(
    SELECT boro, max(NumViol)
           FROM (
               SELECT boro, count([violation code]) as NumViol
               FROM test_table
               GROUP BY boro
               )        
),
TotalCamis as 
(
    SELECT camis, dba, boro, count([violation code]) as NumViol
    FROM test_table
    GROUP BY camis
)
SELECT boro, camis, dba, NumViol
FROM TotalCamis
WHERE boro = (SELECT boro FROM MaxBoroViolator)
ORDER BY NumViol DESC
LIMIT 1
;"""

pd.read_sql(sql1, conn)

In [ ]:
# File name for your submission
# Just use the assignment name/number.  Blackboard will add your user name when I download them.
# Don't include underscores! It will mess up the pattern Blackboard uses to name files, and I won't know who you are.
file_name = 'Checkpoint2.DATA302'
#Checkpoint2
# Name of the database - must be one directory up in the 'databases' folder
db_name = 'test.db'

# Do not change these:
PATH_SUB = 'submissions/' + file_name
PATH_DB  = 'databases/' + db_name

# Dictionary to store your submission
my_sql = {}

conn = sqlite3.connect(PATH_DB)
curs = conn.cursor()
pd.read_sql("SELECT * FROM sqlite_master;", conn)

In [ ]:
sql = """
SELECT [violation code], [violation description], count([violation code]) as NumViol
FROM test_table
GROUP BY [violation code]
ORDER BY NumViol DESC
LIMIT 1
;"""

my_sql['sql1'] = {}
my_sql['sql1']['sql'] = sql

sql2 = """
SELECT [cuisine description], count([violation code]) as NumViol
FROM test_table
GROUP BY [cuisine description]
HAVING NumViol > 10000
ORDER BY NumViol DESC
;"""

my_sql['sql2'] = {}
my_sql['sql2']["sql"] = sql2

sql3 = """
WITH
MaxBoroViolator as 
(
    SELECT boro, max(NumViol)
           FROM (
               SELECT boro, count([violation code]) as NumViol
               FROM test_table
               GROUP BY boro
               )        
),
TotalCamis as 
(
    SELECT camis, dba, boro, count([violation code]) as NumViol
    FROM test_table
    GROUP BY camis
)
SELECT boro, camis, dba, NumViol
FROM TotalCamis
WHERE boro = (SELECT boro FROM MaxBoroViolator)
ORDER BY NumViol DESC
LIMIT 1
;"""

my_sql['sql3'] = {}
my_sql['sql3']["sql"] = sql3

my_sql

In [ ]:
with open('Checkpoint2.DATA302', 'w') as f:
    json.dump(my_sql, f)

In [ ]:
with open(PATH_SUB, 'w') as f:
    json.dump(my_sql, f)

In [ ]:
s = ag.Student('Checkpoint2.DATA302', db_name)

In [ ]:
s.CheckMySubmission()

In [7]:
del s

NameError: name 's' is not defined

In [8]:
conn.close()